.slider {
  fill:hsla(0,0%,75%,1);
}

.slider:hover,
.slider.dragging {
  fill-opacity:0.5;
}

.tLine {
  stroke-width:1px;
  stroke:hsla(0,0%,10%,1);
}

.colorBarTitle,
.colorBarValue {
  fill:#c1c1c1;
}